/*************************** Tag Selectors ***********************/
body {
    background-color: #d3e0ea;
}

hr {
    background-color: #d3e0ea;
    height: 0px;
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    width: 30%;
}

h1 {
    color: #6665DD;
}

h3 {
    color: #F67E7D;
}

/*************************** Class Selectors ***********************/


/*************************** ID Selectors ***********************/